@use '../../../components/baseComponents/styles/colors';

.errorMsg, .form {
    min-width: 50vw;
    margin: 3rem 20px 0;
}

.errorMsg + .form {
    margin-top: 0.5rem;
}

.errorMsg {
    color: colors.$errorRed;
    font-weight: 600;
}