@use '../styles/colors' as colors;

.error {
    color: colors.$errorRed
}

.errorMsg {
    font-size: 0.85rem;
    margin-bottom: 0.25rem;
    line-height: 1.1rem;
    font-weight: 600;
    margin-top: 0.2rem;
}

.errorIcon {
    font-size: 0.7rem;
    font-weight: 900;
    text-align: center;
    border: 2px solid colors.$errorRed;
    border-radius: 50%;
    width: 1.25rem;
    height: 1.25rem;
    display: inline-block;
    position: relative;
    top: 50%;
    right: 0.5rem;
    transform: translateY(-50%);
}
