#navigation {
    align-self: center;
    z-index: 1;
}

.nav-toggle, .nav-subpages-toggle {
    display: none;
}

#navigation-menu {
    position: absolute;
    right: 0;
    top: 100%;
    display: none;
    background-color: rgb(14, 76, 181);
    width: 100%;
    @media (min-width: 768px){
        width: 10rem;
    }
    
}

.top-level-link {
    padding: 0.5rem;
    &::after {
        content: '+';
        position: absolute;
        right: 0.5rem;
    }
}

.sub-level-link {
    padding: 0.25rem 0.5rem;
    &:hover {
        cursor: pointer;
        background-color: darken(rgb(14, 76, 181), 20%);
    }
}

.nav-toggle:checked ~ #navigation-menu, .nav-subpages-toggle:checked + .nav-subpages-menu + .nav-subpages-list {
    display: block;
}

#hamburger-nav-icon {
    width: 1rem;
    height: 1rem;
    display: block;
    background-image: linear-gradient(white 20%, transparent 20%, transparent 40%, white 40%, white 60%, transparent 60%, transparent 80%, white 80%);
    &:hover {
        cursor: pointer;
    }
}

.nav-subpages-menu {
    &:hover {
        cursor: pointer;
    }
    .nav-subpages-toggle:checked+& {
        .top-level-link::after {
            content: '-';
        }
    }
}

.nav-subpages-list {
    display: none;
    background-color: darken(rgb(14, 76, 181), 10%);
}