// @use '../../styles/global' as global;
@use '../../styles/global.scss' as global;
#navigation {
    align-self: center;
    z-index: 1;
}

.nav-toggle, .nav-subpages-toggle {
    display: none;
}

#navigation-menu {
    position: absolute;
    right: 0;
    top: 100%;
    display: none;
    background-color: global.$blue;
    width: 100%;
    @media (min-width: 768px){
        width: 10rem;
    }
    
}

.top-level-link {
    padding: 0.5rem;
    &::after {
        content: '+';
        position: absolute;
        right: 0.5rem;
    }
}

.sub-level-link {
    padding: 0.25rem 0.5rem;
    display: inline-block;
    width: 100%;
    &:hover {
        background-color: global.$hoverBlue;
    }
}

.nav-toggle:checked ~ #navigation-menu, .nav-subpages-toggle:checked + .nav-subpages-menu + .nav-subpages-list {
    display: block;
}

#hamburger-nav-icon {
    width: 1rem;
    height: 1rem;
    display: block;
    background-image: linear-gradient(global.$white 20%, transparent 20%, transparent 40%, global.$white 40%, global.$white 60%, transparent 60%, transparent 80%, global.$white 80%);
    &:hover {
        cursor: pointer;
    }
}

.nav-subpages-menu {
    &:hover {
        cursor: pointer;
    }
    .nav-subpages-toggle:checked+& {
        .top-level-link::after {
            content: '-';
        }
    }
}

.nav-subpages-list {
    display: none;
    background-color: darken(global.$blue, 10%);
}
