@use './styles/index.scss' as styles;
@tailwind base;
@tailwind components;
@tailwind utilities;

header {
    background: styles.$blue;
    padding: 20px;
    color: styles.$white;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.page-title {
    @apply text-3xl;
    color: styles.$white;
}

main {
    @apply w-full lg:w-3/4;
    @apply left-1/2;
    @apply translate-x-[-50%];
    @apply relative;
}

.site-notice {
    @apply text-lg;
    @apply text-center;
    padding: 40px;
}

.league-link-heading {
    @apply text-xl;
    padding: 10px;
}