@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: rgb(var(--foreground-rgb));
}

.menu-box {
    position: absolute;
    bottom: 150px;
    background: rgba(0, 0, 0, .7);
    padding: 20px;
    border: 2px solid;
    @apply lg:left-80 md:left-64 sm:left-12 left-2;
}

.menu-item {
    color: white;
}

.standard-link {
    @apply hover:underline text-blue-500 hover:text-blue-800 visited:text-purple-500 cursor-pointer
}
