@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: rgb(var(--foreground-rgb));
}

.menu-box {
    position: absolute;
    bottom: 150px;
    left: 400px;
    background: rgba(0, 0, 0, .7);
    padding: 20px;
    border: 2px solid;
}

.menu-item {
    color: white;
}
