@use 'colors';
@tailwind base;
@tailwind components;
@tailwind utilities;

.standard-link {
    color: colors.$blue;
    @apply hover:underline text-blue-500 hover:text-blue-800 visited:text-purple-500 cursor-pointer;
    &:visited:not(:hover) {
        color: colors.$blue;
    }
    &:hover {
        color: colors.$hoverBlue;
        text-decoration: none;
        padding-bottom: 0.2rem;
        border-bottom: 1px solid colors.$hoverBlue;
    }
}