.google_login_btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 1rem;
    width: fit-content;
    *{
        display: inline-block;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}
